{% extends 'base.html.twig' %}
{% block title %}Show{% endblock %}
{% block body %}
    <div class="container">
        <h1>Delete</h1>
        Do you really want to delete this note? <br>
        id: {{ note.id }}<br>
        titel: {{ note.title }}<br>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        <a href="{{ path('notes_show',  {'id': note.id}) }}">back</a>
    </div>
{% endblock %}
