{% extends 'base.html.twig' %}
{% block title %}cribs{% endblock %}
{% block body %}
    {% block heading %}<h1>delete</h1>{% endblock %}
    <a href="{{ path('index') }}" class="Link">back</a>
    <h4>Do you really want to delete this crib?</h4>
    <p>id: {{ crib.id }}</p>
    <p>title: {{ crib.title }}</p>
    <p>project: {{ crib.project }}</p>
    <div class="Form">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
