{% extends 'base.html.twig' %}
{% block title %}cribs{% endblock %}
{% block body %}
    <h1>cribs</h1>
    <a href="{{ path('new') }}" class="Button Button--new">new</a>
    <table class="CribIndex">
        <tr class="CribIndex__Header">
            <th><a href="{{ path('index_order', {'orderField': 'title'}) }}">Title</a></th>
            <th><a href="{{ path('index_order', {'orderField': 'project'}) }}">Project</a></th>
            <th><a href="{{ path('index_order', {'orderField': 'date'}) }}">Date: Created</a></th>
            <th><a href="{{ path('index_order', {'orderField': 'editDate'}) }}">Date: Edited</a></th>
        </tr>
        {% for crib in cribs %}
            <tr>
                <td>
                    <a href="{{ path('show', {'id': crib.id}) }}">{{ crib.title }}</a>
                </td>
                <td>
                    {{ crib.project }}
                </td>
                <td>
                    {{ crib.date | date("d.m.Y") }}
                </td>
                <td>
                    {% if crib.date != crib.editDate %}
                        {{ crib.editDate | date("d.m.Y") }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
