{% extends 'base.html.twig' %}
{% block title %}cribs{% endblock %}
{% block body %}
    <a href="{{ path('index') }}"><h1>cribs</h1></a>
    <div class="SearchForm">
        {{ form_start(searchForm) }}
        {{ form_widget(searchForm) }}
        {{ form_end(searchForm) }}
    </div>
    <a href="{{ path('new') }}" class="Button Button--new">new</a>
    <table class="CribIndex">
        <tr class="CribIndex__Header">
            <th>
                <a href="{{ path('index', {'field': 'title', 'direction': 'ASC'}) }}"><i
                            class="fas fa-angle-double-down"></i></a>
                Title
                <a href="{{ path('index', {'field': 'title', 'direction': 'DESC'}) }}"><i
                            class="fas fa-angle-double-up"></i></a>
            </th>
            <th>
                <a href="{{ path('index', {'field': 'project', 'direction': 'ASC'}) }}"><i
                            class="fas fa-angle-double-down"></i></a>
                Project
                <a href="{{ path('index', {'field': 'project', 'direction': 'DESC'}) }}"><i
                            class="fas fa-angle-double-up"></i></a>
            </th>
            <th>
                <a href="{{ path('index', {'field': 'date', 'direction': 'ASC'}) }}"><i
                            class="fas fa-angle-double-down"></i></a>
                Date: Created
                <a href="{{ path('index', {'field': 'date', 'direction': 'DESC'}) }}"><i
                            class="fas fa-angle-double-up"></i></a>
            </th>
            <th>
                <a href="{{ path('index', {'field': 'editDate', 'direction': 'ASC'}) }}"><i
                            class="fas fa-angle-double-down"></i></a>
                Date: Edited
                <a href="{{ path('index', {'field': 'editDate', 'direction': 'DESC'}) }}"><i
                            class="fas fa-angle-double-up"></i></a>
            </th>
            <th class="CribIndex__Menu">Menu</th>
        </tr>
        {% for crib in cribs %}
            <tr>
                <td>
                    <a href="{{ path('show', {'id': crib.id}) }}">{{ crib.title }}</a>
                </td>
                <td>
                    {{ crib.project }}
                </td>
                <td>
                    {{ crib.date | date("d.m.Y h:i") }}
                </td>
                <td>
                    {% if crib.editDate %}
                        {{ crib.editDate | date("d.m.Y h:i") }}
                    {% else %}
                        never
                    {% endif %}
                </td>
                <td class="CribIndex__Menu">
                    <a href="{{ path('show', {'id': crib.id}) }}">show</a>
                    <a href="{{ path('edit', {'id': crib.id}) }}">edit</a>
                    <a href="{{ path('delete', {'id': crib.id}) }}">delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
