{% extends 'base.html.twig' %}
{% block title %}cribs{% endblock %}
{% block body %}
    <div class="Crib">
        <header class="Crib__Header">
            {% block heading %}<h1>{{ crib.title }}</h1>{% endblock %}
            <h3>created: {{ crib.date | date("d.m.Y h:i") }}</h3>
            {% if crib.editDate %}
                <h3>edited: {{ crib.editDate | date("d.m.Y h:i") }}</h3>
            {% else %}
                <h3>edited: never</h3>
            {% endif %}
            <a class="Link" href="{{ path('index') }}">back</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('edit', {'id': crib.id}) }}" class="Link Link--edit">edit</a>
                <a href="{{ path('delete', {'id': crib.id}) }}" class="Link Link--delete">delete</a>
            {% endif %}
        </header>
        <div class="Crib__Body">
            {% for cribContent in crib.cribContent %}
                <div class="Crib__BodyContent">
                    <div class="Crib__BodyContentComment">
                        <p>{{ cribContent.comment }}</p>
                    </div>
                    <div class="Crib__BodyContentCode">
                        <pre><code class="line-numbers language-{{ cribContent.language }}">{{ cribContent.code }}</code></pre>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

